.hidden {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: no-repeat center center fixed;
  background-size: cover;
}
#clock {
  display: flex;
  align-items: center;
  padding: 15px 0px;
  text-align: center;
  justify-content: space-between;
}

.content {
  margin-top: 60px;
  width: 500px;
  height: 800px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}
.textInput {
  width: 150px;
  height: 30px;
  font-size: 20px;
  border-width: 0px;
  border-bottom: solid 2px;
  background-color: rgba(0, 0, 0, 0);
}
.textInput::placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
}
.textInput:focus {
  outline: none;
}
.loginBtn {
  width: 70px;
  height: 30px;
  border-radius: 20px;
  border-width: 1px;
}

#clock {
  font-size: 40px;
  font-weight: bold;
}
#greeting {
  margin-top: -100px;
}
li {
  font-size: 25px;
  margin-bottom: 20px;
  list-style-image: url("../img/check-solid.svg");
}
